body, html{
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.footer {
  width: 100%;
  height: 50px;
  background-color: mediumpurple;
  transition: all 1s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
}
body.zoom .footer{
  height: 0;
  opacity: 0;
}
#app{
  position: relative;
  min-height: 100%;
}
.newImage{
  width: 90%
}
